<html>

  <div fxLayoutAlign="space-around center" fxFlex="100" >
    <mat-card fxFlex="30" class="card" fxFlex.xs="100">
  
      <div>
        <mat-card-title class="fundooregister"xLayout="row" fxLayoutAlign="center center">
          <span class="f">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="oo">o</span>
        </mat-card-title>
      </div>
      <div>
         <mat-card-subtitle class="forgot" xLayout="row" fxLayoutAlign="center center"> Account recovery</mat-card-subtitle>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start ">
        <mat-form-field appearance="outline" class="password">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="Enter your email" [type]="hide ? 'password' : 'text'"
            [formControl]="emailFormControl" [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              ">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          </mat-form-field>
    </div>
    <div>
        <button mat-button (click)="signin()" class="sinin-link" fxLayoutAlign="center center">
            Sign in insted
          </button>
    <button
    id="submit-button" mat-button (click)="login()"
    fxLayout="row" fxLayoutAlign="end center" 
    mat-raised-button
    mat-button aria-label="Show an example snack-bar"> 
    Submit
  </button>
  </div>
    </mat-card>
    </div>
</html>