// .reminder{
//     img {
//       margin-top: 14%;
//       // width:fit-content;
//       width: 18px;
//       height: 18px;
//       opacity: 0.7;
//       // display: inline-block;
//     }
//   }
.colors:focus{
background-image: url("../../../assets/icons8-checkmark.svg");
background-position: center;
background-repeat: no-repeat
}

.mat-mini-fab{
  width: 28px;
    height: 30px;
}
.matmenu {
  width: 100%;
   border-radius: 5%;
  font-family: 'googlefonts',arial,sans-serif;
  background-color: darkgrey
}

// .btn {
//   border-radius: 50%;

// }

.white {
  background-color: rgb(248, 248, 248);
  margin-left: 5px;
  margin-bottom: 5px;
}

.red {
  margin-left: 8px;
}

.orange {

  margin-left: 8px;
}

.yellow {

  margin-left: 8px;
  margin-right: 8px;
}

.green {

  margin-left: 8px;
  margin-bottom: 10px;
}

.teal {

  margin-left: 8px;
}

.blue {
  size: 1px;
  margin-left: 8px;
}

.darkblue {

  margin-left: 8px;
}

.purple {

  margin-left: 8px;
  margin-bottom: 10px;
}

.pink {

  margin-left: 8px;
}

.Brown {

  margin-left: 8px;
}

.gray {

  margin-left: 8px;
}

// .icon:hover{
//   visibility: visible
// }
// .icon{
//   visibility: hidden;
// }
#Remaind {
  img {
      opacity: 0.7;
      width: 18px;
            height: 18px;
      //       opacity: 0.7;
  }
}
#coll {
  img {
    width: 18px;
            height: 18px;
      opacity: 0.7
  }
}
#col {
  img {
    width: 18px;
            height: 18px;
      opacity: 0.7
  }
}
#img {
  img {
    width: 18px;
            height: 18px;
      opacity: 0.7
  }
}
#arc {
  img {
    width: 18px;
            height: 18px;
      opacity: 0.7
  }
}
#unarc {
  img {
    width: 18px;
            height: 18px;
      opacity: 0.7
  }
}
#menu {
  img {
    width: 18px;
    height: 18px;
      opacity: 0.7
  }
}
#later{
  opacity: 0.6;
}
#tom{
  opacity: 0.6;
}
#nextweek{
  opacity: 0.6;
}