@font-face {
  font-family: googlefonts;
  src: url("../../fonts/GoogleSans-Regular.ttf");
}
.mat-card {
    margin: auto;
   height: 330px;
   width: 350px;
   border: 0.5px solid #c6c1c1;
    margin-top: 6%;
   margin-bottom: 6%;
  //  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459); 

}
.fundoo{
    text-align: center;
    font-family: 'googlefonts',arial,sans-serif;
    // font: bold;
    margin-top: 05%;
    font-size: 150%
}
.f{
    color: #4285F4;
    font-weight: bold;
    // font-family: 'sans-serif';
    text-align: center
  }
  .u{
    color: #EA4335;
    font-weight: bold;
    // font-family: sans-serif;
    text-align: center
    
  }
  .n{
    color: #FBBC05;
    font-weight: bold;
    // font-family: sans-serif;
    text-align: center
  
  }
  .d{
    color: #4285F4;
    font-weight: bold;
    // font-family: sans-serif;
    text-align: center
  
  }
  .o{
    color: #34A853;
    font-weight: bold;
    // font-family: sans-serif;
    text-align: center
  
  }
  .oo{
    color: #EA4335;
    font-weight: bold;
    // font-family: sans-serif;
    text-align: center
  } 
  #submit-button{
    background: #1a73e8;
    font-family: 'sans-serif';
    margin-left: 68%;
    color: white;
    margin-top: 9%;
    font-family: 'googlefonts',arial,sans-serif;
}   
#suffix{
margin-left: 75%;
margin-top: -17%;
display: flex;
  }
.reset{
    color: black;
    font-size: 25px;
    font-family: 'googlefonts',arial,sans-serif;
}