<html>

  <div fxLayoutAlign="space-around center" fxFlex="100" >
    <mat-card fxFlex="30" class="card" fxFlex.xs="100">
  
      <div>
        <mat-card-title class="fundooregister"xLayout="row" fxLayoutAlign="center center">
          <span class="f">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="oo">o</span>
        </mat-card-title>
      </div>
      <div>
         <mat-card-subtitle class="reset" fxLayout="row" fxLayoutAlign="center center"> Password recovery</mat-card-subtitle>
      </div>
      <div id="passwordid" fxLayout="column" fxLayoutAlign="center center" >
        <mat-form-field appearance="outline" class="password">
          <mat-label> Password</mat-label>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"[formControl]="password"
          [errorStateMatcher]="matcher" autocomplete="off" required>
          <mat-error *ngIf="password.hasError('required')">
            password required*
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="confirmpassword">
          <mat-label> Confirm password</mat-label>
          <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'"[formControl]="confirmpassword"
          [errorStateMatcher]="matcher" autocomplete="off" requried>
          <mat-error *ngIf="confirmpassword.hasError('required')">
            confirmpassword required*
          </mat-error>
        </mat-form-field>
        <mat-icon id="suffix" matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error>
            {{message}}
          </mat-error>
      </div>
    <div>
    <button
    id="submit-button" mat-button (click)="login()"
    fxLayoutAlign="center center"
    mat-raised-button
    mat-button aria-label="Show an example snack-bar"> 
    Submit
  </button>
  </div>
    </mat-card>
    </div>
</html>