@font-face {
    font-family: googlefonts;
    src: url("../../fonts/GoogleSans-Regular.ttf");
  }
.matcard {
    margin-top: 3%;
    // box-shadow: 0 6px -2px 0 rgba(0, 0, 0, 0.1); 
    // background-color: blue;
    // padding: 10px 10px 10px 10px 
        // border: 1px solid rgba(0,0,0,0.17);
        // border-radius: 9px;
    border-radius: 9px;
    border: 1px solid #dadce0;
    font-family: 'googlefonts',arial,sans-serif;   
    width: 600px 
  }
  .Border {
    border-color: white;
    border: none;
    outline: none;
    user-select: none;
    font-family: 'googlefonts',arial,sans-serif;  
    font-size: 16px  
    
  }
  
  [contentEditable="true"]:empty:not(:focus):before {
    content: attr(data-text);
  }
  

// #img2{
//     color: rgba(0 ,0 ,0,0.5)

//   }
.check{
  opacity: 0.5;
}
  .check:hover{
    opacity: 1;

  }
  .check1{
    opacity: 0.5;
  }
  .check1:hover{
    opacity: 1;
  }
  .insert{
    opacity: 0.5;
  }
  .insert:hover{
    opacity: 1;
  }
  .maincard {
    width: 60%;
    color: #80868b;
    border: none;
    outline: none;
    user-select: none;
    //margin-top: 30px;
  }
  
  .addnote {
    width: 10px;
    margin-left: 0%;
  }
  .textArea {
    background: transparent;
    font-family: 'googlefonts',arial,sans-serif;    
    font-size: 16px  ;
    width: 420px
  }
  
  .Border :focus {
    outline: white;

  }
  element.style {
    border-color: white;
  }
  
//   [contentEditable="true"]:empty:not(:focus):before {
//     content: attr(data-text);
//   }
  
  .title {
    margin-bottom: 20px;
    color: rgb(173, 166, 166);
    border: none;
    outline: none;
    user-select: none;
  }
  
  .textArea {
    border: none;
    outline: none;
    user-select: none;
    font-family: 'googlefonts',arial,sans-serif;  
    width: 500px
  }
  
  .takenote {
    margin-bottom: 10px;
    color: rgb(173, 166, 166);
    border: none;
    outline: none;
    user-select: none;

  }
    .barpin {
        border: none;
        outline: none;
        user-select: none;
        margin-top: 17%;
        opacity: 0.7
    }
